
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/common.css}" rel="stylesheet">
</head>

<body>

<div class="container">

    <h3>Welcome Admin &nbsp;&nbsp;<a th:href="@{/logout}">Logout Here</a></h3>


    <div class="container">

        <div class="row">
            <div class="col-sm-6">
                <form action="#" th:action="@{/admin/food}" th:object="${food}" method="post">
                    <div class="form-group">
                        <label>Food Name:</label>
                        <input type="text" required="true" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label >Restaurant Name:</label>
                        <input required="true" type="text" th:field="*{res.name}">
                    </div>
                    <div class="form-group">
                        <label th:for="password" >Price:</label>
                        <input required="true" type="text" th:field="*{price}">
                    </div>
                    <button th:type="submit" class="btn btn-success">Add new food</button>
                </form>
            </div>
        </div>

        <br />
        <br />
        <br />
        <!--Add list item diff here-->
        <th:block th:each="food : ${foods}">
            <div class="row">
                <div class="col-sm-6">
                    Name: <span th:text="${food.name}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Restaurant Name: <span th:text="${food.res.name}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Price: <span th:text="${food.price}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <form action="#" th:action="@{admin/food/delete}" th:object="${food}" method="POST">
                        <input type="hidden" name="id" th:value="${food.id}">
                        <button class="btn btn-danger">Delete Food Item</button>
                    </form>
                </div>
            </div>
            <br />
            <br />
        </th:block>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>